{% load static %}
{% load i18n %}

{% block styles %}
    <!-- Inherit styles from index.html -->
    <link rel="stylesheet" href="{% static 'build/css/driver.min.css' %}" />
    <link rel="stylesheet" href="{% static 'build/css/style.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'build/css/summernote-lite.min.css' %}" />
    <link rel="stylesheet" href="{% static 'build/css/orgChart.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery/jqueryui.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css">
{% endblock styles %}

{% block content %}
    <div id="form-container">
        {% include 'base/auth/password_change_form.html' %}
    </div>
{% endblock %}

{% block scripts %}
        <!-- HTMX Scripts -->
    <script src="{% static 'build/js/web.frontend.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

    <!-- Additional Scripts -->
    <script src="{% static '/index/index.js' %}"></script>
    <script src="{% static '/index/saveFilters.js' %}"></script>
    <script src="{% static 'build/js/htmxSelect2.js' %}"></script>
    <script src="{% static 'build/js/summernote-lite.min.js' %}"></script>


    <!-- Validation and UI Scripts -->
    <script src="{% static 'recruitment/validation.js' %}"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.x.x/dist/ionicons/ionicons.js"></script>
    <script src="{% static '/build/js/sweetAlert.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Clear URL Parameters -->
    <script>
        function clearQueryParameters() {
            var urlWithoutQuery = window.location.origin + window.location.pathname;
            window.history.replaceState({}, document.title, urlWithoutQuery);
        }
    </script>


{% endblock scripts %}